<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What is RUBIT?</h3>
    <p>
      RUBIT is a social networking app built using Socify on Ruby on Rails. Socify is free &amp; completely open source. You can check the source on <a href="https://github.com/sudharti/socify" target="_blank"><%= fa_icon 'github' %> Github</a>. Also take a look at the demo deployed to <a href="http://socifyapp.herokuapp.com/" target="_blank">Heroku</a>.
    </p>
    <br>
    <h3>Why?</h3>
    <p>
      I'm a complete newbie to Ruby on Rails and I really want a job desinging web apps with the framework and learn more in the process. I made RUBIT to showcase the skills I've learned so far in the hope that someone nice will give me the chance to work for them! RUBIT's source code can be found on <a href="https://github.com/dennispreston92/rubit" target="_blank"><%= fa_icon 'github' %> Github</a>.
    </p>
    <br>
    <h3>What now?</h3>
    <p>
      Feel free to use RUBIT to chat to people about anything to do with Ruby! Oh, and if you have a job available... <a href="mailto:dennispreston@hotmail.co.uk?subject=Job offer&body=Hi Dennis, I've seen your RUBIT website and I was so impressed that I've decided to offer you a job!">email me</a>.
    </p>
  </div>
</div>
